/* cpcbasic css */
body {
	background-color: Beige;
}

.flexBox {
	float: left;
	padding: 2px;
	margin: 2px;
	background-color: LightGrey;
}

.clearLeft {
	clear: left;
}

.legendButton {
	background-color: LightGreen;
}

.legendButton:hover {
	background-color: LimeGreen
}

.popoverButton {
	background-color: LightBlue;
}

.popoverButton:hover {
	background-color: CornflowerBlue;
}

.label {
	background-color: WhiteSmoke;
	float: left;
	margin-right: 0.2em;
	text-align: right;
	padding: 0px 2px 0px 2px;
	overflow: hidden;
	display: block;
}

.popover {
	position: absolute;
	background-color: WhiteSmoke;
}

.buttonPopoverContainer {
	float: right;
    padding-left: 4px;
    padding-right: 4px;
}


.area {
	padding: 2px;
	margin: 1px;
	border: 0.5px solid #7A7A7A;
	float: left;
}

.flexColumn {
	flex-direction: column;
}

.field {
	padding: 2px 2px 2px 2px;
	float: left;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexStart {
	justify-content: flex-start;
}

.editable {
	background-color: white;
}

.invalid {
	border-color: red;
}

.selectWrap select { 
	max-width: calc(22em - 6px);
	text-overflow: ellipsis;
}

.kbdArea {
	width: auto;
	user-select: none;
}

.displayFlex {
	display: flex;
}

.displayBlock {
	display: block;
}

.displayNone {
	display: none;
}

.kbdButton, .kbdButton1, .kbdButton2, .kbdButton3, .kbdButton4 , .kbdButton5 {
	width: 2.5em;
	min-height: 2em;
	cursor: pointer;
	margin-right: 3px;
}

.kbdButton1 {
	overflow: hidden;
	padding-left: 4px;
}

.kbdButton2 {
	width: calc(2.5em*1.545);
}

.kbdButton3 {
	width: calc(2.5em*2.085);
}

.kbdButton4 {
	width: calc(2.5em*2.635);
}

.kbdButton5 {
	width: calc(2.5em*9.168);
}

.kbdNoRightMargin {
	margin-right: 0px;
}

.kbdMove {
	border: 1px solid lightgrey;
	background-color: rgba(173, 222, 232, 0.5); /* lightblue transparent */
	font: 400 13px arial;
	user-select: none;
}

#kbdAreaBox {
	touch-action: none;
	opacity: 0.8;
    background-color: rgba(211, 211, 211, 0.5);
}

#cpcCanvas {
	border-style: solid;
	border-width: 4px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#cpcArea {
	resize: both;
	overflow: hidden;
	padding-bottom: 12px;
}

#galleryAreaItems {
    width: 320px;
    max-height: 600px;
    overflow-y: scroll;
}

#galleryAreaItems input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#galleryAreaItems label {
    display: block;
    height: 200px;
	border: 2px solid black;
	background-size: cover;
}

.noScroll::-webkit-scrollbar {
	display: none;
}
